body {
  background-color: black;
  font-family: monospace;
}

.terminal {
  background-color: black;
  border: 1px solid #33FF33;
  box-shadow: 0px 0px 10px #33FF33;
  border-radius: 5px;
  width: 60%;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
}

.terminal-header {
  background-color: black;
  color: #33FF33;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #33FF33;
  text-align: center;
  position: relative;
}

.terminal-title {
  display: inline-block;
  font-weight: bold;
  margin: 0 20px;
}

.terminal-buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}

.terminal-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
}

.terminal-button-red {
  background-color: #FF4D4D;
}

.terminal-button-yellow {
  background-color: #FFD700;
}

.terminal-button-green {
  background-color: #00FF7F;
}

.terminal-body {
  background-color: black;
  color: #33FF33;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  height: 80%;
  overflow: auto;
}

.terminal-prompt {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}

.terminal-input {
  display: inline-block;
  width: 80%;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
}

.terminal-cursor {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

