body {
  background-color: black;
}

/* Override styles for the terminal */
.jquery-terminal .terminal {
  background-color: black;
  color: green;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  height: 400px;
  overflow: auto;
}

.jquery-terminal .terminal::-webkit-scrollbar {
  width: 5px;
}

.jquery-terminal .terminal::-webkit-scrollbar-thumb {
  background-color: limegreen;
}

.jquery-terminal .terminal .command {
  color: white;
}

.jquery-terminal .terminal .output {
  color: limegreen;
}

.jquery-terminal .terminal .prompt {
  color: limegreen;
}

.jquery-terminal .terminal .blink {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

